* {
    margin: 0;
    padding: 0;
}

.menu
{
    text-align: center;
    background-color: white;
}

.intro
{
    align-content: center;
    background-color: black;
    height: 20px;
    
    padding: 25px;
    margin: 25px;

    color: white;
    text-align: center;
    border: 2px dashed blue;
    border-radius: 8px;
    margin-left: 500px;
    margin-right: 500px;

}

body
{
    background-color: black;
}

.full-box
{
    background-color: red;
    left:0px;
    height: 300px;
    overflow: scroll;
}

.middle-box
{
    background-color: green;
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 100px;
    padding: 25px;


}
